body
{
	background-color:#FFE;
}

#content
{
	width:1080px;
	height:auto;
	margin-top:10px;
	box-shadow:0 0 25px #666666;
}

#container
{
	width:1080px;
	height:auto;
	margin:0px auto;
	background-color:white;
}

.readonly
{
	background-color:#eeeeee;
}