#content-wrapper
{
	font-family:Arial;
	width:1080px;
	height:750px;
	background-color:white;
}

#newprofile-wrapper
{
	width: 800px;
	height:inherit;
	margin-left:20px;
	background-color:#FFF;
	float:left;
}

#newprofile-wrapper-title
{
	text-align:left;
	font-size:14pt;
	font-family:Arial;
	margin-bottom:30px;
}

#newprofilefrm
{
	border:1px solid #dddddd;
	width:750px;
	margin-left:10px;
	box-shadow:0px 0.5px 10px #CCCCCC;
}

#newprofilefrm table
{
	margin:10px;
	border-collapse:collapse;
	height:540px;
	width:700px;
}

#newprofilefrm table input
{
	margin-left:10px;
	border:1px solid black;
	border-radius:5px;
	width:180px;
	padding-left:5px;
	height:25px;
}

#newprofilefrm table select
{
	margin-left:10px;
	border:1px solid black;
	border-radius:5px;
	width:187px;
	padding-left:5px;
	height:25px;
}

#newprofilefrm p
{
	border:1px solid red;
	width:270px;
	font-size:10pt;
	padding-left:5px;
}

#newprofile-btn 
{
	width:270px;
	margin-left:470px;
	margin-top:50px;
	margin-bottom:15px;
}

#newprofile-btn input[type="button"]
{
	border:2px solid black;
	border-radius:5px;
	width:130px;
	padding-left:5px;
	height:25px;
}

#newprofile-btn input[type="button"]:hover
{
	background-color:#eeeeee;
}