#top-filter
{
	width: 800px;
	height:480px;
	margin-left:20px;
	float:left;
}

#content-left
{
	border:3px solid #aaaaaa;
	border-top:none;
	width:775px;
	height:480px;
	padding:0px 10px;
	box-shadow: 5px 5px 10px #CCCCCC;
	background-color:#444444;
}

#content-left-title
{
	border-top:3px solid #777777;
	border-left:3px solid #777777;
	border-right:6px solid #777777;
	width:784px;
	margin-left:-15px;
	height:30px;
	background-color:#777777;
	padding-left:10px;
	box-shadow:0px 0.5px 10px #CCCCCC
}

#content-left-title p
{
	color:white;
	text-transform:uppercase;
	margin:0px auto;
	font-size:18px;
}

#content-left-content-form
{
	border:1px solid #bbbbbb;
	margin-top:1px;
	height:410px;
	padding:10px;
	background-color:white;
}

#content-left-content-form p
{
	font-family:Arial;
	font-size:11pt;
}

#content-left-content-form input
{
	border:2px solid black;
	border-radius:5px;
	width:131px;
	padding-left:5px;
	height:25px;
}

#content-left-content-form select
{
	border:2px solid black;
	border-radius:5px;
	width:139px;
	padding-left:5px;
	height:25px;
}

#content-left-content-form input[type="button"]
{
	margin-top:175px;
	margin-left:100px;
	float:left;
}

#content-left-content-form input[type="button"]:hover
{
	background-color:#eeeeee;
}

#content-left-content-form-divide
{
	float:left;
	margin-top:10px;
}

#content-left-content-form-top-content
{
	width:140px;
	float:left;
	margin-left:5px;
	height:90px;
}

#content-left-content-form-top
{
	border:1px solid #999999;
	float:left;
	width:162px;
	height:190px;
	margin-top:-1px;
	margin-right:10px;
}
